backend/__pycache__/auth_routes.cpython-311.pyc
GUI/main_app.py
backend/__pycache__/chat_routes.cpython-311.pyc
backend/__pycache__/database.cpython-311.pyc
backend/__pycache__/main.cpython-311.pyc
backend/__pycache__/ollama_client.cpython-311.pyc
backend/__pycache__/rag_chat_service.cpython-311.pyc
backend/__pycache__/recipe_routes.cpython-311.pyc
backend/__pycache__/recipe_search_service.cpython-311.pyc
backend/models/__pycache__/__init__.cpython-311.pyc
backend/models/__pycache__/base_model.cpython-311.pyc
backend/models/__pycache__/recipe.cpython-311.pyc
backend/models/__pycache__/tag.cpython-311.pyc
backend/models/__pycache__/user.cpython-311.pyc
backend/routes/__pycache__/auth_routes.cpython-311.pyc
backend/routes/__pycache__/chat_routes.cpython-311.pyc
backend/routes/__pycache__/recipe_routes.cpython-311.pyc
backend/services/__pycache__/ollama_client.cpython-311.pyc
backend/services/__pycache__/rag_chat_service.cpython-311.pyc
backend/services/__pycache__/recipe_search_service.cpython-311.pyc
GUI/models/__pycache__/__init__.cpython-311.pyc
GUI/models/__pycache__/chat_model.cpython-311.pyc
GUI/models/__pycache__/home_model.cpython-311.pyc
GUI/models/__pycache__/login_model.cpython-311.pyc
GUI/models/__pycache__/recipe_form_model.cpython-311.pyc
GUI/models/__pycache__/recipe_model.cpython-311.pyc
GUI/models/__pycache__/user_model.cpython-311.pyc
GUI/presenters/__pycache__/home_presenter.cpython-311.pyc
GUI/presenters/__pycache__/login_presenter.cpython-311.pyc
GUI/services/__pycache__/__init__.cpython-311.pyc
GUI/services/__pycache__/api_service.cpython-311.pyc
GUI/services/ollama/history
GUI/services/ollama/id_ed25519
GUI/services/ollama/id_ed25519.pub
GUI/services/ollama/models/blobs/sha256-2a9b718fde09b9237da3edde181fb74d8731f09d5ae5f9478d95af1932feda4b
GUI/services/ollama/models/blobs/sha256-7e354394ef7b3d6266ea33695e844404e2fc09583108d2474d4a66f9a009b9bc
GUI/services/ollama/models/blobs/sha256-22e1b2e8dc2fbc3ac38b50f59e49f594034462c1cd02764353a8a076d97c3a59
GUI/services/ollama/models/blobs/sha256-43070e2d4e532684de521b885f385d0841030efa2b1a20bafb76133a5e1379c1
GUI/services/ollama/models/blobs/sha256-ed11eda7790d05b49395598a42b155812b17e263214292f7b87d15e14003d337
GUI/views/__pycache__/__init__.cpython-311.pyc
GUI/views/__pycache__/add_recipe_window.cpython-311.pyc
GUI/views/__pycache__/chat_window.cpython-311.pyc
GUI/views/__pycache__/home_view.cpython-311.pyc
GUI/views/__pycache__/home_window.cpython-311.pyc
GUI/views/__pycache__/login_view.cpython-311.pyc
GUI/views/__pycache__/login_window.cpython-311.pyc
GUI/views/__pycache__/profile_window.cpython-311.pyc
GUI/views/__pycache__/recipe_details.cpython-311.pyc
RecipeDB/google_debug.html
